{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "boilerplate/**/*.tsx",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
